.post {
    height: 100px;
    padding: 17px 35px;
    border: 2px solid #000;
    transition: 350ms ease all;
    &:hover {
        border: 2px solid #dadada;
    }
}

.post__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #000;
    padding-bottom: 10px;
}

.post__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.41);
    max-width: 400px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}